.swiper {
  margin-bottom: 20px;
  /* width: 90%; */
  width: 33.5rem;
  /* height: 200px; */
  border-radius: 12px;
  position: relative;
}

.swiper img {
    display: block;
    width: 100%;
    object-fit: cover;
}



.swiper-pagination-bullet {
    position: relative;
    background-color: #fff;
    opacity: .4;
}

.swiper-pagination-bullet-active {
    background-color: #FE6E9A;
    opacity: 1;
}